
/* main styles */

.main{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;    
}

/* main-content */
.main-content{
    background-color: #fff;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 50px 90px;
}

/* sidebar */

.photo{
    width: 350px;
}


